# Ignore a specific directory and everything inside it
# (Common for build output, dependencies, etc.)
build/
bin/
node_modules/
.vscode/
.xmake/

# Ignore files with a specific extension
*.log
*.tmp
*.o

*.txt
!important.txt